@import 'variables.css';

* , *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-family-base);
    background-color: var(--color-bg-primary);
    color: var(--color-text-primary);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow: hidden;
    /* App-like feel */
    user-select: none;
    /* Prevent text selection generally in app */
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    border: none;
    background: none;
    cursor: pointer;
    font-family: inherit;
    color: inherit;
}

input {
    border: none;
    background: none;
    font-family: inherit;
    color: inherit;
}

input[type='radio'] {
    appearance: none;
    -webkit-appearance: none;
    width: 16px;
    height: 16px;
    border: 1px solid var(--color-border);
    border-radius: 50%;
    outline: none;
    cursor: pointer;
    position: relative;
    box-shadow: none !important;
}

input[type='radio']:checked {
    border-color: var(--color-accent);
    background-color: var(--color-accent);
}

input[type='radio']:checked::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 6px;
    height: 6px;
    background-color: white;
    border-radius: 50%;
}

/* Custom Scrollbar for 'Exquisite' look */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: var(--color-bg-tertiary);
    border-radius: var(--radius-full);
    -electron-corner-smoothing: 65%;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--color-text-muted);
}